<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917950269994-u19ip7faqe0v256921pk15c4095a1dpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917950269994-u19ip7faqe0v256921pk15c4095a1dpo</string>
	<key>API_KEY</key>
	<string>AIzaSyD42TX9ENlc5irDlXAY-FsgASrT-spfVSg</string>
	<key>GCM_SENDER_ID</key>
	<string>917950269994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.credible.cred</string>
	<key>PROJECT_ID</key>
	<string>cred-2528e</string>
	<key>STORAGE_BUCKET</key>
	<string>cred-2528e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917950269994:ios:fe24b3a12dda47cc8e5153</string>
	<key>DATABASE_URL</key>
	<string>https://cred-2528e-default-rtdb.firebaseio.com</string>
</dict>
</plist>